*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}
body {
    font-family: 'oswald', sans-serif;
}

#navbar {
    display: flex;
    justify-content: flex-end;
}

.navlist {
    display: flex;
    list-style-type: none;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: blue;
    color:#fff;
}

.projects-grid{
    display: flex;
    flex-wrap: wrap;
}
figure {
    margin: 1rem;
}
